.main-container {
  background-color: white;
}

.main-content {
  margin-left: 20px;
  margin-right: 20px;
}

.main-header {
  margin-top: 20px;
  margin-bottom: 80px;
}

.section-text {
  margin-top: 20px;
  margin-bottom: 20px;
}