.text-input-container {
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-input-img {
  height: 30px;
  margin-left: 15px;
  margin-right: 5px;
}

.text-input {
  flex: 1;
  height: 70%;
  font-size: 16px;
  border: None;
  margin-right: 50px; /* width of the text-input-img = 30px width + 20px margins */
  padding-left: 5px;
}
